@page
@model LoginModel
    <body>
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Login</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Login here</h2>
                    </div>
                    <div class="col-md-7">

                        <form action="#" method="post">

                            <div class="p-3 p-lg-5 border">
                                <div class="form-group column">
                                    <div class="col-md-6">
                                        <label for="c_fname" class="text-black"> <b> Username </b></label>
                                        <input type="text" class="form-control" id="c_fname" name="c_fname">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_lname" class="text-black"> <b> Password </b></label>
                                        <input type="password" class="form-control" id="c_lname" name="c_lname">
                                    </div>
                                </div>

                                <label>
                                    <input type="checkbox" name="remember"> Remember me
                                </label>


                                <div class="col-md-6">
                                    <a href="#"><span class="psw">Forgot my username/password</span></a>
                                </div>
                                <br>

                                
                                <div class="col-lg-12">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="LOG IN! ">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 ml-auto">
                        <br><br><br>
                                <div class="col-lg-13">
                                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-lg btn-block">Don't have an account?</a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }