@page
@model LogoutModel
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="wrapper">
                <section id="content">
                    <div class="container">
                        <div class="col-md-12" style="text-align:center;">
                            <span class="icon-check_circle display-3 text-success"></span>
                            <h1>You have successfully logged out. Redirecting to home page...</h1>
                            <script>
                                window.setTimeout(function () {
                                    window.location.href = '/';
                                }, 2000);
                            </script>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>