<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a asp-controller="Home" asp-action="Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Review Added</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-check_circle display-3 text-success"></span>
                <h2 class="display-3 text-black">Thank you!</h2>
                <p class="lead mb-5">You reviews was posted successfuly.</p>
                <p><a asp-controller="Books" asp-action="Index" class="btn btn-sm btn-primary">Back to books list</a></p>
                <p><a asp-controller="Reviews" asp-action="UserIndex" class="btn btn-sm btn-primary">Go to your reviews</a></p>
            </div>
        </div>
    </div>
</div>