<!DOCTYPE html>
<html lang="en">
<head>
    <title>BookStore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="js-logo-clone">BookStore</a>
                        </div>
                    </div>

                    <div class="col-10 col-md-6 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <ul>
                                @{
                                    if (!User.Identity.IsAuthenticated)
                                    {
                                        <li><a id="login" asp-area="Identity" asp-page="/Account/Login"><span class="icon icon-person"></span></a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><span class="icon icon-person"></span></a></li>
                                        <li>
                                            <a asp-controller="Carts" asp-action="Index" class="site-cart">
                                                <span class="icon icon-shopping_cart"></span>
                                            </a>
                                        </li>
                                    }
                                }

                                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                            </ul>
                            @if (TempData["Success"] != null)
                            {
                                <script>
                                    window.onload = function () {
                                        alert("@TempData["Success"]");
                                        setTimeout(2000);
                                    };
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="site-navigation text-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a asp-area="" asp-controller="Books" asp-action="Index">Books</a></li>
                    <li class="nav-item"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <li class="col-4 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form asp-controller="Books" asp-action="Search" class="site-block-top-search">
                            <span class="icon icon-search2"></span>
                            <input type="text" class="form-control border-0" name = "name" placeholder="Search">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BookStore &trade;
        </div>
    </footer>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>

    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
